.logo {
	background-image: url("images/nelsonliu.png");
	background-image: url("images/nelsonliu.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-clip: border-box;
	background-size: contain;
}
