aside.sidebar
	.sidebar-logo.logo
	nav.nav.nav-pills.nav-stacked(role="navigation")
		li
			a(ui-sref="main()" ui-sref-active="active") Home
		li
			a(ui-sref="works()" ui-sref-active="active") Past Works
