doctype html
html
	head
		base(href='/')
		meta(charset='utf-8')
		title 劉于誠 Nelson Liu
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width')
		link(rel='icon', type='image/png', href='http://fountainjs.io/assets/imgs/fountain.png')
	body(ng-app='app')
		.container
			app-sidebar.col-xs-4
			.content.col-xs-8
				ui-view
			app-footer.col-xs-12
